<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ClientLayout.master.cs" Inherits="musicsWeb.ClientLayout" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title><asp:ContentPlaceHolder ID="clientHead" runat="server">
    </asp:ContentPlaceHolder></title>
    
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <%
                if (Session["User"] != null) {
                    object user = Session["User"];
                    Response.Write("<div>Chào mừng "+ user.GetType().GetProperty("name") +"</div>");
                } else
                {
                    Response.Write("<a href='login.aspx'>Đăng nhập</a>");
                }
            %>
            

        </div>
        <div>
            <asp:ContentPlaceHolder ID="clientContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
